.piece-template{
    display: none;
}

#main{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#game-panel{
    display: none;
}

#table{
    position: relative;
}

#chessboard-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#pieces-layer{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
