.piece-template{
    display: none;
}

#main{
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}

#login-panel, #rooms-panel, #game-panel{
    display: none;
}

#table{
    position: relative;
}

#chessboard-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#pieces-layer{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#top_player, #bottom_player{
    margin-right: 30px;
}

#top_player_hud{
    position: absolute;
    top: 580px;
}
