@(message: String, rooms: Iterable[(Int, String)])(implicit request: RequestHeader)

@main("Welcome to Play") {

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.Application.joinRoom
)

<!--<img src="@routes.Assets.at("images/pieces.svg")" style="position: absolute; left: 0px; top: 0px; z-index: 4;" />-->

<img src="@routes.Assets.at("images/black_king.svg")" id="black-king" class="piece-template" />
<img src="@routes.Assets.at("images/black_queen.svg")" id="black-queen" class="piece-template" />
<img src="@routes.Assets.at("images/black_rook.svg")" id="black-rook" class="piece-template" />
<img src="@routes.Assets.at("images/black_bishop.svg")" id="black-bishop" class="piece-template" />
<img src="@routes.Assets.at("images/black_knight.svg")" id="black-knight" class="piece-template" />
<img src="@routes.Assets.at("images/black_pawn.svg")" id="black-pawn" class="piece-template" />

<img src="@routes.Assets.at("images/white_king.svg")" id="white-king" class="piece-template" />
<img src="@routes.Assets.at("images/white_queen.svg")" id="white-queen" class="piece-template" />
<img src="@routes.Assets.at("images/white_rook.svg")" id="white-rook" class="piece-template" />
<img src="@routes.Assets.at("images/white_bishop.svg")" id="white-bishop" class="piece-template" />
<img src="@routes.Assets.at("images/white_knight.svg")" id="white-knight" class="piece-template" />
<img src="@routes.Assets.at("images/white_pawn.svg")" id="white-pawn" class="piece-template" />


<div id="main">
    <div id="login-panel">
        <form id="send-introduce">
            <p><label for="user-name">Nickname: </label><input type="text" id="user-name"/></p>
            <input type="submit" value="OK" />
        </form>
    </div>

    <div id="rooms-panel">
        <script id="table-template" type="text/html">
            <% if(white) { %>
                <div class="room-white-player place-occupied"><%= white %></div>
            <% }else { %>
                <div class="room-white-player place-free white"><a href="<%= url %>" class="join-room">Join</a></div>
            <% } %>

            <% if(black) { %>
                <div class="room-black-player place-occupied"><%= black %></div>
            <% }else { %>
                <div class="room-black-player place-free black join-room"><a href="<%= url %>" class="join-room">Join</a></div>
            <% } %>
        </script>

        <button id="create-room">New Room</button>

        <ul id="rooms-list">

        </ul>
    </div>

    <div id="game-panel" style="display: none">
        <div id="hud">
            <div class="team">
                <p id="bottom_player">Player1</p>
                <p id="bottom_time">3:11</p>
            </div>

            <div class="team">
                <p id="top_player">Player2</p>
                <p id="top_time">4:29</p>
            </div>
        </div>

        <div id="table">
            <canvas id="chessboard-canvas" width="800" height="800">
            </canvas>
            <div id="pieces-layer"></div>
        </div>
    </div>
</div>

}
