@(message: String, rooms: Iterable[(Int, String)])(implicit request: RequestHeader)

@main("Welcome to Play") {

@helper.javascriptRouter("jsRoutes")(
    routes.javascript.ApplicationController.joinRoom,
    routes.javascript.ApplicationController.createRoom
)

<!--<img src="@routes.Assets.at("images/pieces.svg")" style="position: absolute; left: 0px; top: 0px; z-index: 4;" />-->

<img src="@routes.Assets.at("images/black_king.svg")" id="black-king" class="piece-template" />
<img src="@routes.Assets.at("images/black_queen.svg")" id="black-queen" class="piece-template" />
<img src="@routes.Assets.at("images/black_rook.svg")" id="black-rook" class="piece-template" />
<img src="@routes.Assets.at("images/black_bishop.svg")" id="black-bishop" class="piece-template" />
<img src="@routes.Assets.at("images/black_knight.svg")" id="black-knight" class="piece-template" />
<img src="@routes.Assets.at("images/black_pawn.svg")" id="black-pawn" class="piece-template" />

<img src="@routes.Assets.at("images/white_king.svg")" id="white-king" class="piece-template" />
<img src="@routes.Assets.at("images/white_queen.svg")" id="white-queen" class="piece-template" />
<img src="@routes.Assets.at("images/white_rook.svg")" id="white-rook" class="piece-template" />
<img src="@routes.Assets.at("images/white_bishop.svg")" id="white-bishop" class="piece-template" />
<img src="@routes.Assets.at("images/white_knight.svg")" id="white-knight" class="piece-template" />
<img src="@routes.Assets.at("images/white_pawn.svg")" id="white-pawn" class="piece-template" />

<div id="top">
    <div id="logo"><span>Kloc - the game</span></div>
</div>

<div id="main">
    <div id="login-panel">
        <form id="send-introduce">
            <p><label for="user-name">Nickname: </label><input type="text" id="user-name"/></p>
            <input type="submit" value="OK" />
        </form>
    </div>

    <div id="rooms-panel">
        <script id="table-template" type="text/html">
            <div class="room-time-control"><span class="room-time-control-value">5</span><br /><span class="minutes">min</span></div>
            <% if(white) { %>
                <div class="room-white-player place-occupied"><%= white %></div>
            <% }else { %>
                <div class="room-white-player place-free white"><a href="<%= url %>" class="join-room">JOIN</a></div>
            <% } %>

            <% if(black) { %>
                <div class="room-black-player place-occupied"><%= black %></div>
            <% }else { %>
                <div class="room-black-player place-free black join-room"><a href="<%= url %>" class="join-room">JOIN</a></div>
            <% } %>
            <div style="clear: left"></div>
        </script>

        <button id="create-room">New Room</button>

        <ul id="rooms-list">

        </ul>
    </div>

    <div id="game-panel" style="display: none">
        <div id="hud">
            <p id="top-player-hud">
                <span id="top-player">-</span>
                <span id="top-time">0:00</span>
            </p>
        </div>

        <div id="table">
            <canvas id="chessboard-canvas" width="560" height="560">
            </canvas>
            <div id="pieces-layer"></div>
            <p id="bottom-player-hud">
                <span id="bottom-player">-</span>
                <span id="bottom-time">0:00</span>
            </p>
        </div>
    </div>
</div>

}
