@(message: String, rooms: Iterable[(Int, String)])

@main("Welcome to Play") {

<p>@message</p>

<!--<img src="@routes.Assets.at("images/pieces.svg")" style="position: absolute; left: 0px; top: 0px; z-index: 4;" />-->

<img src="@routes.Assets.at("images/black_king.svg")" id="black-king" />
<img src="@routes.Assets.at("images/black_queen.svg")" id="black-queen" />
<img src="@routes.Assets.at("images/black_rook.svg")" id="black-rook" />
<img src="@routes.Assets.at("images/black_bishop.svg")" id="black-bishop"  />
<img src="@routes.Assets.at("images/black_knight.svg")" id="black-knight" />
<img src="@routes.Assets.at("images/black_pawn.svg")" id="black-pawn" />

<img src="@routes.Assets.at("images/white_king.svg")" id="white-king" />
<img src="@routes.Assets.at("images/white_queen.svg")" id="white-queen" />
<img src="@routes.Assets.at("images/white_rook.svg")" id="white-rook" />
<img src="@routes.Assets.at("images/white_bishop.svg")" id="white-bishop" />
<img src="@routes.Assets.at("images/white_knight.svg")" id="white-knight" />
<img src="@routes.Assets.at("images/white_pawn.svg")" id="white-pawn" />

<div id="table">
<canvas id="chessboard-canvas" width="800" height="800" style="position: absolute; left: 0px; top: 0px; z-index: 0;">
</canvas>
<div id="pieces-layer" style="position: absolute; left: 0px; top: 0px; z-index: 2;"></div>
</div>


<div id="introduce">
    <p>Nickname: <input type="text" id="player-name" /></p>
    <button id="send-introduce">OK</button>
</div>

<input type="text" id="new-room-name" />
<button id="create-room">New Room</button>

<div id="game-panel" style="display: none">
    <p>From: <input type="text" id="from" /></p>
    <p>To: <input type="text" id="to" /></p>
    <button id="send-move">Send move</button>
</div>

<ul>
@for(room <- rooms) {
    <li><a href="@room._2" class="join-room white">@room._1</a> black: <a href="@room._2" class="join-room black">@room._1</a></li>
}
</ul>

}
