@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vex.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/vex-theme-os.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/libs/require-2.1.15.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/tests/require.conf.js")" type="text/javascript"></script>
        <script src="@routes.Application.mainJs" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
